apiVersion: apps/v1
kind: Deployment
metadata:
  name: dataarchive
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: kishanpatel617/data-archive:v2.1
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE_URLS
              value: "http://0.0.0.0:80"
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: dataarchive-secrets
                  key: ConnectionStrings__DefaultConnection
